<div class="group my-10 flex h-auto w-full flex-col overflow-hidden rounded-lg bg-white shadow-md">
  <div class="relative">
    <img class="w-fit h-fit" src="../../../../assets/manCamping-01.png"/>
    <div class="tag h-[35%] relative bg-gradient-to-t from-eside-black from-0% via-eside-black-opacity-90 via-70% to-eside-Neutral-1-opacity-0 to-100%">
      <div class="profile px-8  gap-3 justify-center items-center text-eside-white font-bold">
        <h1 class="cursor-pointer text-2xl "> Vendez vos équipements </h1>
        <div class="flex gap-2 cursor-pointer">
          <h1 class="cursor-pointer text-md font-light uppercase"> déposer mon annonce </h1>
          <img class="w-fit h-fit" src="../../../../assets/svg's/rightArrowEside.svg"/>
        </div>
      </div>
    </div>
  </div>
</div>

