<div class=" py-3 grid grid-cols-6 gap-3">
  <img src="assets/camping-01.png" alt="product" class="rounded-md h-40  object-cover">
  <div class="col-span-4 items-center flex">
    <div>
      <div class="flex gap-3 items-center">
        <img src="assets/svg's/profile-pic.svg" class="h-8" alt="profile-pic">
        <h1 class="text-xl font-bold">Camile.B</h1>
      </div>
      <p class="py-3 text-sm">Cher utilisateur, Vous avez effectué une commande pour cette annonce de Camille.B vous pouvez aussi consulter l'etat du d'avancement de votre commande. Bon shopping !</p>
      <div class="flex gap-4">
        <img src="../../../../assets/order-status/En-attente-de-confirmation.svg"/>
      </div>
    </div>
  </div>
</div>
