<div class="w-full dark:border-gray-600 px-5">
  <h1 class="font-semibold text-xl py-3">Couleur</h1>

  <div class="flex flex-row flex-wrap gap-3">
    <div class="flex items-center" *ngFor="let color of colorsData">
      <label class="relative">
        <input type="checkbox"
               name="{{color}}"
               id="{{color}}"
               [ngModel]="isChecked(color)"
               (ngModelChange)="updateCheckedValues($event, color)"
               class="opacity-0 border-0 absolute">
        <div class="rounded-md inline-block" [ngClass]="{'border-2': isChecked(color), 'p-1': isChecked(color)}">
          <img src="assets/svg's/colors/{{color}}.svg" [alt]="color" class="w-10 h-10 border border-gray-300 rounded-md transition-transform transform">
        </div>
      </label>
    </div>
  </div>
</div>
