<div class="py-3 bg-eside-Accent-1 flex items-center justify-start"><div>
  <h2 >Notifications</h2>
  <div *ngFor="let notification of notifications">
    <p>{{ notification.id }}: {{ notification.message }}</p>
  </div>

  <div *ngIf="error">
    <p>Error: {{ error }}</p>
  </div>

  <h3>Generate Notification</h3>
  <input type="number" #notifId placeholder="ID">
  <input type="text" #notifMessage placeholder="Message">
  <!-- <button (click)="generateNotification(notifId.value, notifMessage.value)">Generate Notification</button>-->
</div>

</div>
