<div class="grid grid-cols-6 gap-3 p-6 ">
  <img src="../../../../../assets/camping-01.png" alt="product" class="rounded-md h-40 object-cover">
  <div class="col-span-4 items-center flex">
    <div>
      <div class="flex gap-3 items-center">
        <img src="../../../../../assets/svg's/profile-pic.svg" class="h-12" alt="profile-pic">
        <h1 class="text-xl font-bold">Camile.B</h1>
      </div>
      <p class="py-3 text-sm">Cher utilisateur, vous offre avez envoyé un offre de reduction a camile.b : 55€ au lieu de 60€ !
        . Bon shopping !</p>
      <div class="flex gap-4">
        <img src="../../../../../assets/discount-status/en%20attendant.svg"/>
      </div>
    </div>
  </div>
</div>
