<div class="w-full h-12 flex items-center bg-eside-Accent-2">
  <div class="flex gap-4 px-6">
    <img alt="filter-icon" class="w-8" src="assets/svg's/filter.svg"/>
    <h1 class="uppercase text-eside-white font-bold text-xl"> filter</h1>
  </div>
</div>
<div class="w-full py-5 bg-eside-light h-[95%] relative">
  <app-state-section (etatCheckedValuesEvent)="addStateFilter($event)" class="mb-4" />
  <app-categorie-section (categoryCheckedValuesEvent)="addCategorieFilter($event)"  class="mb-4" />
  <app-subCategory-section (subCategoryCheckedValuesEvent)="addSubCategorieFilter($event)" class="mb-4" />
  <app-price-section class="mb-4" />
  <app-color-section (colorsCheckedValuesEvent)="addColorsFilter($event)"  class="mb-4" />
</div>
