<div class="w-full h-12 flex items-center bg-eside-Accent-2">
  <div class="flex gap-4 px-6">
    <img alt="filter-icon" class="w-8" src="assets/svg's/filter.svg"/>
    <h1 class="uppercase text-eside-white font-bold text-xl"> filter</h1>
  </div>
</div>
<div class="w-full py-5 bg-eside-light h-auto relative">
  <app-state-section class="mb-4" />
  <app-gender-section class="mb-4" />
  <app-marque-section class="mb-4" />
  <app-price-section class="mb-4" />
  <app-color-section class="mb-4" />
</div>
