<div class="grid grid-cols-6 gap-3 p-6">
  <img src="../../../../../assets/camping-01.png" alt="product" class="rounded-md h-40 object-cover">
  <div class="col-span-4 items-center flex">
    <div>
      <div class="flex gap-3 items-center">
        <img src="../../../../../assets/svg's/profile-pic.svg" class="h-12" alt="profile-pic">
        <h1 class="text-xl font-bold">Camile.B</h1>
      </div>
      <p class=" text-sm py-3">Cher utilisateur, Camille.B vous offre une réduction exceptionnelle : 55€ au lieu de 60€ !
        Acceptez, refusez ou contre-offrez ici. Offre limitée. Bon shopping !</p>
      <div class="flex gap-4">
        <button class="py-1 font-bold text-eside-white text-lg bg-eside-Accent-1 px-7 rounded-sm">Accepter</button>
        <button class="py-1 font-bold text-eside-white text-lg bg-eside-Primary-2 px-7 rounded-sm">Refuser</button>
        <button class="py-1 font-bold text-eside-Primary-2 border-4  text-lg bg-none  px-7 rounded-sm">Contre-offre</button>
      </div>
    </div>
  </div>
</div>
