<div class="text-eside-Neutral-1 pt-[150px]">
  <div class="grid lg:grid-cols-2 lg:gap-6 px-6 w-full lg:px-28 py-8 lg:py-12">

    <div class="grid grid-cols-2 w-full h-full">
      <div>
        <img src="assets/products/product1-01.png" class="object-cover h-[400px] w-full border-4  border-eside-white" alt="product">
      </div>
      <div class="grid grid-rows-2">
        <img src="assets/products/product1-01.png" class="object-cover h-[200px] w-full border-4  border-eside-white" alt="product">
        <div class="relative">
          <img src="assets/products/product1-01.png" class="object-cover h-[200px] w-full border-4  border-eside-white" alt="product">
          <div class="tag  border-4  border-eside-white h-full absolute top-0 left-0 bg-eside-black-opacity-35 w-full flex items-center justify-center text-eside-white font-semibold">
            <h1 class="cursor-pointer text-xl">+3</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="relative lg:h-full h-[400px]">
      <div class="grid grid-cols-1 md:grid-cols-4 text-eside-Neutral-1 gap-5 pt-8">
        <h1 class="md:col-span-3 font-bold text-xl">A.C. Milan T-shirt UEFA Champions League Jersey</h1>
        <div class="flex md:justify-end gap-3">
          <img src="assets/svg's/share.svg" class="w-auto h-2/3" alt="share">
          <img src="assets/svg's/heart2.svg" class="w-auto h-2/3" alt="like">
        </div>
      </div>

      <div class="py-3">
        <p class="text-sm font-light lg:mr-12">Past. Present. FUTURE. The traditional stripes are reinterpreted in a modern and innovative way to create an unprecedented fourth jersey. The jersey.</p>
      </div>

      <div class="">
        <p class="text-3xl font-bold">25.000 DT</p>
      </div>

      <div class="py-3 grid-cols-2 grid">
        <p class="font-bold">Gender</p>
        <p class="font-light">Mixte</p>
        <p class="font-bold">Etat</p>
        <p class="font-light">Bon etat</p>
      </div>

      <div class="absolute bottom-0 w-full">
        <div class="space-y-3">
          <button type="button" class="text-center w-full font-bold text-eside-white text-lg md:text-xl bg-eside-Accent-1 hover:bg-eside-Accent-2 rounded-md px-4 md:px-8 py-2 lg:py-3 dark:bg-eside-Accent-1 dark:hover:bg-eside-Accent-2 lg:py-4">Passer une commande</button>
          <button type="button" class="text-center w-full font-bold text-eside-white text-lg md:text-xl bg-eside-Primary-2 hover:bg-eside-Primary-1 rounded-md px-4 md:px-8 py-2 lg:py-3 dark:bg-eside-Accent-1 dark:hover:bg-eside-Accent-2 lg:py-4">Faire une offre</button>
        </div>
      </div>
    </div>

  </div>
  <div class="grid lg:grid-cols-2 gap-6 px-6 w-full lg:px-28 ">
    <app-owner-details/>
    <app-delivery-section/>
  </div>
  <app-send-feedback-field/>
  <app-similar-ads/>
  <app-clients-feedback/>
</div>
