<div class="group my-10 flex w-full max-w-lg flex-col overflow-hidden rounded-lg bg-white shadow-md">
  <div class="relative">
    <img class="h-auto w-full object-cover" src="assets/product_test-01.png"/>
    <div class="tag h-2/4 relative bg-gradient-to-t from-eside-black via-eside-black-opacity-35 to-eside-Neutral-1-opacity-0">
      <div class="profile px-3 flex gap-3 justify-center items-center text-eside-white font-semibold">
        <img class="w-10 cursor-pointer" src="assets/svg's/profile-pic.svg"/>
        <h1 class="cursor-pointer">Camille.B</h1>
      </div>
    </div>
  </div>
  <div class=" p-3">
    <div class="flex justify-between">
      <h1 class="font-semibold cursor-pointer">Product Name</h1>
      <img class="cursor-pointer" src="assets/svg's/heart-selected.svg"/>
    </div>
    <p class="text-sm font-light line-clamp-1">ZG TREK GTX Description</p>
    <p class="text-sm font-light line-clamp-1">State </p>
  </div>
</div>
