<div class="grid grid-rows-2 bg-eside-bleu-light">
  <div class="grid-cols-6 grid p-6">
    <div class="col-span-1 flex items-center justify-center">
      <img alt="delivery-car" src="assets/svg's/delivery-car.svg">
    </div>
    <div class="col-span-4">
      <div class="flex-row">
          <div class="flex space-x-2">
            <h1 class="font-bold text-eside-black text-lg">Livraison à partir de</h1>
            <h1 class="font-bold text-eside-Semantic-green text-lg">8.00 DT</h1>
          </div>
        <h1 class="font-light">3 à 5 jours ouvrés après envoi</h1>
      </div>
    </div>
    <div class="col-span-1">
      <h1 class="underline">Voir plus</h1>
    </div>
  </div>
  <div class="grid-cols-6 grid p-6">
    <div class="col-span-1 flex items-center justify-center">
      <img alt="verified" src="assets/svg's/verified-cheked.svg">
    </div>
    <div class="col-span-4">
      <div class="flex-row">
          <div class="flex space-x-2">
            <h1 class="font-bold text-eside-black text-lg">Retour</h1>
            <h1 class="font-bold text-eside-Semantic-green text-lg">possible</h1>
          </div>
        <h1 class="font-light">3 à 5 jours ouvrés après envoi</h1>
      </div>
    </div>
    <div class="col-span-1">
      <h1 class="underline">Voir plus</h1>
    </div>
  </div>
</div>

