<div class="group my-10 flex w-full max-w-xs flex-col overflow-hidden rounded-lg bg-white shadow-md ">
  <div class=" py-7 flex flex-col gap-3 items-center drop-shadow-lg shadow-sm justify-center">
    <img class="w-[68px] cursor-pointer" src="assets/svg's/profile-pic.svg"/>
    <h1 class="font-bold text-xl">Camille.B</h1>
    <span>Envoyé à Mohamed_jaiadne879</span>

    <app-rating [rating]="feedback?.stars!"></app-rating>
    <span *ngIf="feedback?.stars! || 0 > 0">{{feedback?.stars!}}</span>

    <p class="px-4 text-center text-sm">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
  </div>
</div>
