  <div class="w-full dark:border-gray-600 px-5">
    <h1 class="font-semibold text-xl py-3">État</h1>
    <div class="flex flex-wrap gap-3">
      <div class="flex items-center w-full sm:w-auto" *ngFor="let state of etatData">
        <div class="border border-[1.5px] border-gray-900 p-2 rounded-md flex items-center">
          <input
            name="{{state}}"
            id="{{state}}"
            type="checkbox"
            [ngModel]="isChecked(state)"
            (ngModelChange)="updateCheckedValues($event, state)"
            class="w-4 h-4 text-gray-900 bg-gray-100 border-gray-900 rounded mr-2"
          >
          <label for="{{state}}" class="text-sm font-medium text-gray-900 dark:text-gray-300">{{state}}</label>
        </div>
      </div>
    </div>
  </div>

