<div class="w-full px-8 py-4 pt-20">
  <div class="py-10">
      <h1 class="text-eside-Neutral-1 text-[30px] font-semibold">Suivre votre commande</h1>
      <div class="border-b-4 border-b-eside-Accent-2 w-[10%] "></div>
  </div>

  <div class="pb-24">
    <div class="relative flex items-center justify-between w-full">
    <div class="absolute left-0 top-2/4 h-0.5 w-full -translate-y-2/4 bg-eside-Accent-1"></div>
    <div class="absolute left-0 top-2/4 h-0.5 w-full -translate-y-2/4 bg-eside-Accent-1 transition-all duration-500"></div>
      <div class=" absolute  left-[58%] top-[-160%]  " *ngIf="OrderStatusEnum.IN_TRANSIT === activeStatus">
        <img class="w-[70%] h-auto" src="assets/order-status/delivery-car.svg">
      </div>
    <div class="relative">
        <div
          [class]="{
            'bg-eside-Accent-1': OrderStatusEnum.AWAITING_CONFIRMATION === activeStatus,
            'bg-eside-white': OrderStatusEnum.AWAITING_CONFIRMATION !== activeStatus,
            'text-eside-Accent-1': OrderStatusEnum.AWAITING_CONFIRMATION !== activeStatus,
            'text-eside-white': OrderStatusEnum.AWAITING_CONFIRMATION === activeStatus
          }"
          class="z-30 grid w-10 h-10 font-bold transition-all duration-300 border-2 border-eside-Accent-1 rounded-full place-items-center"

        >
      1
        </div>
        <div class=" absolute w-[200px] left-[-190%] top-[150%] ">
          <img class="w-[100%] h-auto" src="assets/order-status/AWAITING_CONFIRMATION.svg">
        </div>
    </div>
    <div class="relative">
        <div [class]="{
            'bg-eside-Accent-1': OrderStatusEnum.AWAITING_PROCESSING === activeStatus,
            'bg-eside-white': OrderStatusEnum.AWAITING_PROCESSING !== activeStatus,
            'text-eside-Accent-1': OrderStatusEnum.AWAITING_PROCESSING !== activeStatus,
            'text-eside-white': OrderStatusEnum.AWAITING_PROCESSING === activeStatus
          }"
             class="z-30 grid w-10 h-10 font-bold transition-all duration-300 border-2 border-eside-Accent-1 rounded-full place-items-center"

        >
      2
        </div>
        <div class=" absolute w-[200px] left-[-190%] top-[150%] ">
          <img class="w-[100%] h-auto" src="assets/order-status/AWAITING_PROCESSING.svg">
        </div>
    </div>
    <div class="relative">
      <div [class]="{
            'bg-eside-Accent-1': OrderStatusEnum.IN_TRANSIT === activeStatus,
            'bg-eside-white': OrderStatusEnum.IN_TRANSIT !== activeStatus,
            'text-eside-Accent-1': OrderStatusEnum.IN_TRANSIT !== activeStatus,
            'text-eside-white': OrderStatusEnum.IN_TRANSIT === activeStatus
          }"
           class="z-30 grid w-10 h-10 font-bold transition-all duration-300 border-2 border-eside-Accent-1 rounded-full place-items-center"

      >3
        </div>
        <div class=" absolute w-[200px] left-[-190%] top-[150%] ">
          <img class="w-[100%] h-auto" src="assets/order-status/IN_TRANSIT.svg">
        </div>
    </div>
    <div class="relative">
      <div [class]="{
            'bg-eside-Accent-1': OrderStatusEnum.DELIVERED === activeStatus,
            'bg-eside-white': OrderStatusEnum.DELIVERED !== activeStatus,
            'text-eside-Accent-1': OrderStatusEnum.DELIVERED !== activeStatus,
            'text-eside-white': OrderStatusEnum.DELIVERED === activeStatus
          }"
           class="z-30 grid w-10 h-10 font-bold transition-all duration-300 border-2 border-eside-Accent-1 rounded-full place-items-center"

      >
        4
        </div>
        <div class=" absolute w-[200px] left-[-190%] top-[150%] ">
          <img class="w-[100%] h-auto" src="assets/order-status/DELIVERED.svg">
        </div>
    </div>
    <div class="relative">
      <div [class]="{
            'bg-eside-Accent-1': OrderStatusEnum.PAYMENT_RECEIVED === activeStatus,
            'bg-eside-white': OrderStatusEnum.PAYMENT_RECEIVED !== activeStatus,
            'text-eside-Accent-1': OrderStatusEnum.PAYMENT_RECEIVED !== activeStatus,
            'text-eside-white': OrderStatusEnum.PAYMENT_RECEIVED === activeStatus
          }"
           class="z-30 grid w-10 h-10 font-bold transition-all duration-300 border-2 border-eside-Accent-1 rounded-full place-items-center"

      >5
        </div>
        <div class=" absolute w-[200px] left-[-190%] top-[150%] ">
          <img class="w-[100%] h-auto" src="assets/order-status/PAYMENT_RECEIVED.svg">
        </div>
    </div>
  </div>
  </div>
  </div>
