<div class="flex justify-between bg-eside-Neutral-4 items-center px-6 sm:px-28 py-2 w-full">
  <div class="overflow-x-auto">
    <ul class="flex gap-3 text-eside-Primary-1 text-sm">
      <li class="cursor-pointer font-bold">Category 1</li>
      <li class="cursor-pointer font-bold">Category 2</li>
      <li class="cursor-pointer font-bold">Category 3</li>
      <li class="cursor-pointer font-light">Category 4</li>
      <li class="cursor-pointer font-light">Category 5</li>
      <li class="cursor-pointer font-light">Category 6</li>
      <li class="cursor-pointer font-light">Category 7</li>
    </ul>
  </div>
</div>
