<div class="py-14 px-2 sm:px-6 md:px-10 lg:px-14 xl:px-20 2xl:px-28 w-full">
  <h1 class="text-eside-Neutral-1 text-[30px] font-semibold">La sélection d’été</h1>
  <div class="border-b-4 border-b-eside-Accent-2 w-[5%] "></div>
  <div class="flex justify-center">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-3">

      <div class="group my-10 flex w-full max-w-xs flex-col overflow-hidden rounded-lg bg-white ">
        <div class="h-[335px] bg-eside-Neutral-4 flex flex-col gap-3 items-center justify-center">
              <p class="text-eside-Primary-2 text-center">Découvrirez les meilleurs
                équipements d’occasion pour hiver qui arrive !</p>
              <img class="w-10 cursor-pointer" src="assets/svg's/eside-bleu-right-arrow.svg"/>
        </div>
      </div>
      <app-product-card/>
      <app-product-card/>
      <app-product-card/>
      <app-product-card/>
      <app-product-card/>
      <app-product-card/>
      <app-product-card/>
      <app-product-card/>
      <app-product-card/>
      <app-product-card/>
      <app-product-card/>
      <app-product-card/>
      <app-product-card/>
    </div>
  </div>
</div>



