.input-group {
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
}

.input-group-addon {
  position: absolute;
  right: 100px;
  /* Adjust as needed */
  pointer-events: none;
}
