
<div class="pt-[150px] px-10 lg:px-28  w-full ">
  <h1 class="text-eside-Neutral-1 text-[60px] font-extrabold uppercase">{{spaceName}}</h1>
  <div class="border-b-4 border-b-eside-Accent-2 w-[5%] "></div>

  <div class="grid grid-cols-12 gap-3 py-9">
    <div class="bg-eside-bleu-light col-span-2 ">
      <div class="flex-row gap-3 ">
        <a [routerLink]="['../mon-compte/mes-infos']" class="text-sm flex cursor-pointer items-center justify-between py-5 px-3 bg-eside-bleu-light font-semibold text-eside-Neutral-1 hover:bg-eside-Neutral-4 ">
          <h1>Mes Informations </h1>
          <img src="assets/svg's/eside-neutral1-right-arrow.svg" class="w-5" alt="eside-neutral1-right-arrow.svg">
        </a>
        <a [routerLink]="['../mon-compte/mes-favoris']"  class="text-sm flex cursor-pointer items-center justify-between py-5 px-3 bg-eside-bleu-light font-semibold text-eside-Neutral-1 hover:bg-eside-Neutral-4 ">
          <h1>Mes favoris </h1>
          <img src="assets/svg's/eside-neutral1-right-arrow.svg" class="w-5" alt="eside-neutral1-right-arrow.svg">
        </a>
        <a [routerLink]="['../mon-compte/mes-commandes']" class="text-sm flex cursor-pointer items-center justify-between py-5 px-3 bg-eside-bleu-light font-semibold text-eside-Neutral-1 hover:bg-eside-Neutral-4 ">
          <h1>Mes commandes </h1>
          <img src="assets/svg's/eside-neutral1-right-arrow.svg" class="w-5" alt="eside-neutral1-right-arrow.svg">
        </a>
        <a [routerLink]="['../mon-compte/mes-offres']" class="text-sm flex cursor-pointer items-center justify-between py-5 px-3 bg-eside-bleu-light font-semibold text-eside-Neutral-1 hover:bg-eside-Neutral-4 ">
          <h1>Mes offres de réductions </h1>
          <img src="assets/svg's/eside-neutral1-right-arrow.svg" class="w-5" alt="eside-neutral1-right-arrow.svg">
        </a>
        <a [routerLink]="['../mon-compte/mes-annonces']" class="text-sm flex cursor-pointer items-center justify-between py-5 px-3 bg-eside-bleu-light font-semibold text-eside-Neutral-1 hover:bg-eside-Neutral-4 ">
          <h1>Mes annonces </h1>
          <img src="assets/svg's/eside-neutral1-right-arrow.svg" class="w-5" alt="eside-neutral1-right-arrow.svg">
        </a>
        <a [routerLink]="['../mon-compte/mes-ventes']" class="text-sm flex cursor-pointer items-center justify-between py-5 px-3 bg-eside-bleu-light font-semibold text-eside-Neutral-1 hover:bg-eside-Neutral-4 ">
          <h1>Mes ventes </h1>
          <img src="assets/svg's/eside-neutral1-right-arrow.svg" class="w-5" alt="eside-neutral1-right-arrow.svg">
        </a>
        <a [routerLink]="['../mon-compte/mon-portfeuille']" class="text-sm flex cursor-pointer items-center justify-between py-5 px-3 bg-eside-bleu-light font-semibold text-eside-Neutral-1 hover:bg-eside-Neutral-4 ">
          <h1>Mon portefeuille </h1>
          <img src="assets/svg's/eside-neutral1-right-arrow.svg" class="w-5" alt="eside-neutral1-right-arrow.svg">
        </a>
        <a [routerLink]="['../mon-compte/mes-notification']" class="text-sm flex cursor-pointer items-center justify-between py-5 px-3 bg-eside-bleu-light font-semibold text-eside-Neutral-1 hover:bg-eside-Neutral-4 ">
          <h1>Mon notifications </h1>
          <img src="assets/svg's/eside-neutral1-right-arrow.svg" class="w-5" alt="eside-neutral1-right-arrow.svg">
        </a>
        <div (click)="logout()" class="text-sm flex cursor-pointer items-center justify-between py-5 px-3 bg-eside-bleu-light font-semibold text-eside-Neutral-1 hover:bg-eside-Neutral-4 ">
          <h1>Se déconnecter </h1>
          <img src="assets/svg's/eside-neutral1-right-arrow.svg" class="w-5" alt="eside-neutral1-right-arrow.svg">
        </div>
      </div>
    </div>
    <div class="col-span-10 w-full">
      <router-outlet (activate)="setSpaceName($event)"/>
    </div>
  </div>
</div>
