<div *ngIf="toggle==1" class="w-full gap-3 flex mx-8 items-center text-eside-Neutral-1 justify-center bg-eside-light py-7">
  <div (click)="changetoggle(2)" class="cursor-pointer text-eside-Neutral-1 font-bold">MODIFIER MES INFORMATIONS</div>
  <img src="assets/svg's/edit.svg">
</div>
<div *ngIf="toggle==2" class="w-full gap-3 flex  mx-8 items-center text-eside-Neutral-1 justify-center bg-eside-light py-7">
  <div (click)="changetoggle(1)" class="text-eside-Neutral-1 font-bold uppercase cursor-pointer ">Retours</div>
  <img src="assets/svg's/backArrow.svg">
</div>
<div class="py-4" *ngIf="SuccsessMessage">
  <div class="bg-eside-Semantic-green bg-opacity-10 border-l-4 border-l-eside-Semantic-green text-eside-Semantic-green p-4 py-4" role="alert">
    <p class="font-bold">Message</p>
    <p>{{ SuccsessMessage }}</p>
  </div>
</div>
<div class="py-4" *ngIf="message">
  <div class="bg-eside-Semantic-red bg-opacity-10 border-l-4 border-l-eside-Semantic-red text-eside-Semantic-red p-4 py-4" role="alert">
    <p class="font-bold">Erreur</p>
    <p>{{ message }}</p>
  </div>
</div>
<div class="py-5 mx-8 grid text-eside-Neutral-1 grid-cols-1 lg:grid-cols-2 gap-6" *ngIf="toggle==1">
  <div>
    <div>
      <h1 class="py-3 font-bold text-2xl">Photo de profil</h1>
      <div class="flex">
        <img class="w-20 h-20 rounded-full preview object-cover" [src]="info?.profilePicture!">
      </div>
      <h1 class="py-3 font-bold text-2xl">Mon Compte</h1>
      <div class="">
        <div class="flex justify-between border-t-2  py-3 border-y-eside-Primary-1 border-opacity-10">
          <h1 class="font-bold text-md">Nom du compte</h1>
          <input class="border-none w-auto text-right bg-eside-white" disabled [value]="info?.accountName!" type="text"/>
        </div>
      </div>
      <div class="">
        <div class="flex justify-between border-t-2 py-3 border-y-eside-Primary-1 border-opacity-10">
          <h1 class="font-bold text-md">Prénom</h1>
          <input class="border-none w-auto text-right bg-eside-white" disabled [value]="account?.firstName!"  type="text"/>
        </div>
      </div>
      <div class="">
        <div class="flex justify-between border-t-2 py-3 border-y-eside-Primary-1 border-opacity-10">
          <h1 class="font-bold text-md">Nom</h1>
          <input class="border-none w-auto text-right bg-eside-white" disabled [value]="account?.lastName!" type="text"/>
        </div>
      </div>
      <div class="">
        <div class="flex justify-between border-t-2 py-3 border-y-eside-Primary-1 border-opacity-10">
          <h1 class="font-bold text-md">Bio</h1>
          <textarea rows="2" class="border-none w-auto text-right bg-eside-white" disabled [value]="info?.bio!" ></textarea>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div>
      <h1 class="py-3 font-bold text-2xl">Coordonnées</h1>
      <div class="">
        <div class="flex justify-between border-t-2 py-3 border-y-eside-Primary-1 border-opacity-10">
          <h1 class="font-bold text-md">Mail</h1>
          <input class="border-none w-auto text-right bg-eside-white" disabled [value]="email!" type="email"/>
        </div>
      </div>
      <div class="">
        <div class="flex justify-between border-t-2  py-3 border-y-eside-Primary-1 border-opacity-10">
          <h1 class="font-bold text-md">Téléphone	</h1>
          <input class="border-none w-auto text-right bg-eside-white" disabled [value]="info?.phoneNumber!" type="text"/>
        </div>
      </div>
      <div class="">
        <div class="flex justify-between border-t-2  py-3 border-y-eside-Primary-1 border-opacity-10">
          <h1 class="font-bold text-md">Adresse</h1>
          <input class="border-none w-auto text-right bg-eside-white" disabled [value]="info?.address!" type="text"/>
        </div>
      </div>
      <div class="">
        <div class="flex justify-between border-t-2 py-3 border-y-eside-Primary-1 border-opacity-10">
          <h1 class="font-bold text-md">Complément d'adresse</h1>
          <input class="border-none w-auto text-right bg-eside-white" disabled [value]="info?.optionalAddress!" type="text"/>
        </div>
      </div>
      <div class="">
        <div class="flex justify-between border-t-2 py-3 border-y-eside-Primary-1 border-opacity-10">
          <h1 class="font-bold text-md">Code postal	</h1>
          <input class="border-none w-auto text-right bg-eside-white appearance-none decoration-0" disabled [value]="info?.postalCode!" type="number"/>
        </div>
      </div>
      <div class="">
        <div class="flex justify-between border-t-2 py-3 border-y-eside-Primary-1 border-opacity-10">
          <h1 class="font-bold text-md">Ville</h1>
          <input class="border-none w-auto text-right bg-eside-white" disabled [value]="info?.city!" value="Sahline" type="text"/>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="toggle==2">


  <form #form="ngForm" class="py-5 mx-8 grid text-eside-Neutral-1 grid-cols-1 lg:grid-cols-2 gap-6"
        (ngSubmit)="form.valid && onSubmit()" novalidate>
  <div>
    <div>
      <h1 class="py-3 font-bold text-2xl">Photo de profil</h1>
      <div class="flex gap-3">
        <img class="w-20 h-20 rounded-full preview object-cover" [src]="info?.profilePicture!">
        <div class="flex items-center justify-center">
          <div class="flex gap-3">
            <div *ngFor="let preview of previews; let i = index" class="w-36 h-36 relative">

              <img  [src]="preview" class=" w-20 h-20 rounded-full preview object-cover" />
              <button class="absolute top-0 right-0 p-1 bg-gray-300 rounded-full" (click)="deselectImage(i)">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd"
                        d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM5.293 6.707a1 1 0 0 1 1.414-1.414L10 8.586l3.293-3.293a1 1 0 1 1 1.414 1.414L11.414 10l3.293 3.293a1 1 0 1 1-1.414 1.414L10 11.414l-3.293 3.293a1 1 0 1 1-1.414-1.414L8.586 10 5.293 6.707z" />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="relative">
          <label title="Change your profile picture" for="button2" class="cursor-pointer flex items-center gap-4 px-6 py-4
        group before:bg-gray-100 before:absolute before:inset-0 before:rounded-3xl
        before:transition-transform before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95">
            <div class="w-max relative">
              <img class="w-8" src="assets/svg's/edit.svg" alt="file upload icon">
            </div>

            <div class="relative">
          <span class="block text-base font-semibold relative text-blue-900 group-hover:text-blue-500">
              EDITER
          </span>
            </div>
          </label>
          <input hidden=""type="file" accept="image/*" multiple (change)="selectFiles($event)"  name="button2" id="button2">
        </div>
      </div>
      <h1 class="py-3 font-bold text-2xl">Mon Compte</h1>
      <div class="">
        <div class="flex justify-between border-t-2  py-3 border-y-eside-Primary-1 border-opacity-10">
          <h1 class="font-bold text-md">Nom du compte</h1>
          <input class=" w-auto text-right bg-eside-white"
                 disabled [value]="info?.accountName!" type="text"/>
        </div>
      </div>
      <div class="">
        <div class="flex justify-between border-t-2 py-3 border-y-eside-Primary-1 border-opacity-10">
          <h1 class="font-bold text-md">Prénom</h1>
          <input class=" w-auto text-right bg-eside-white"
                 disabled [value]="account?.firstName!" type="text"/>
        </div>
      </div>
      <div class="">
        <div class="flex justify-between border-t-2 py-3 border-y-eside-Primary-1 border-opacity-10">
          <h1 class="font-bold text-md">Nom</h1>
          <input class=" w-auto text-right bg-eside-white" disabled [value]="account?.lastName!" type="text"/>
        </div>
      </div>
      <div class="">
        <div class="flex justify-between border-t-2 py-3 border-y-eside-Primary-1 border-opacity-10">
          <h1 class="font-bold text-md">Bio</h1>
          <textarea rows="2" class=" w-auto text-right bg-eside-white"
                    [(ngModel)]="informationUpdateDto.bio!"
                    name="bio"
                    id="bio"
                    ></textarea>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div>
      <h1 class="py-3 font-bold text-2xl">Coordonnées</h1>
      <div class="">
        <div class="flex justify-between border-t-2 py-3 border-y-eside-Primary-1 border-opacity-10">
          <h1 class="font-bold text-md">Mail</h1>
          <input class="w-auto text-right bg-eside-white" disabled [value]="email!" type="email"/>
        </div>
      </div>
      <div class="">
        <div class="flex justify-between border-t-2  py-3 border-y-eside-Primary-1 border-opacity-10">
          <h1 class="font-bold text-md">Téléphone	</h1>
          <input class=" w-auto text-right bg-eside-white"
                 [(ngModel)]="informationUpdateDto.phoneNumber!"
                 name="phoneNumber"
                 id="phoneNumber"
                 [value]="parseInt(info?.phoneNumber!) || 0 " type="tel"/>
        </div>
      </div>
      <div class="">
        <div class="flex justify-between border-t-2  py-3 border-y-eside-Primary-1 border-opacity-10">
          <h1 class="font-bold text-md">Adresse</h1>
          <input class="w-auto text-right bg-eside-white"
                 [(ngModel)]="informationUpdateDto.address"
                 name="address"
                 id="address"
                 type="text"/>
        </div>
      </div>
      <div class="">
        <div class="flex justify-between border-t-2 py-3 border-y-eside-Primary-1 border-opacity-10">
          <h1 class="font-bold text-md">Complément d'adresse</h1>
          <input class=" w-auto text-right bg-eside-white"
                 [(ngModel)]="informationUpdateDto.optionalAddress"
                 name="optionalAddress"
                 id="optionalAddress"
                 type="text"/>
        </div>
      </div>
      <div class="">
        <div class="flex justify-between border-t-2 py-3 border-y-eside-Primary-1 border-opacity-10">
          <h1 class="font-bold text-md">Code postal	</h1>
          <input class=" w-auto text-right bg-eside-white appearance-none decoration-0"
                 [(ngModel)]="informationUpdateDto.postalCode"
                 name="postalCode"
                 id="postalCode"
                 type="number"/>
        </div>
      </div>
      <div class="">
        <div class="flex justify-between border-t-2 py-3 border-y-eside-Primary-1 border-opacity-10">
          <h1 class="font-bold text-md">Ville</h1>
          <input class="w-auto text-right bg-eside-white"
                 [(ngModel)]="informationUpdateDto.city"
                 name="city"
                 id="city"
                 type="text"/>
        </div>
      </div>
    </div>
  </div>
  <div class="col-span-full flex pt-3 w-full gap-1">
    <button type="submit" class="py-2 px-7 w-full bg-eside-Accent-1 rounded-sm text-eside-white font-bold text-xl ">Modifier</button>
    <button class="py-2 px-7 w-full bg-eside-Primary-1 rounded-sm text-eside-white font-bold text-xl " (click)="changetoggle(1)">Annuler</button>
  </div>

  </form>
</div>

