<div class="text-eside-Neutral-1 lg:grid  lg:grid-cols-2 lg:gap-7 pt-[100px]">
  <img class="w-full" src="assets/home-hero-img-01.png" alt="camping"/>
  <div class="flex flex-col justify-center items-center lg:px-[15%]">
    <div class="pt-16">
      <div class="text-center lg:text-left">
        <h1 class=" text-8xl font-extrabold">
          VENDEZ,
        </h1>
        <h1 class="text-8xl font-extrabold">
          ACHETEZ
        </h1>
      </div>
      <p class="font-light pt-6 lg:pr-52 text-center lg:text-left">Rejoignez la 1ère communauté outdoor spécialisée dans la seconde main et offrez une seconde vie à vos équipements !</p>
      <div class="flex pt-6 gap-6 justify-center lg:justify-start">
        <button type="button" class="font-bold text-eside-white text-xl bg-eside-Primary-2 hover:bg-eside-Primary-1 rounded-sm px-5 py-2.5 lg:text-xl lg:px-8 lg:py-3 dark:bg-eside-Accent-1 dark:hover:bg-eside-Accent-2 lg:py-2 lg:px-6">Acheter</button>
        <button type="button" class="font-bold text-eside-white text-xl bg-eside-Accent-2 hover:bg-eside-Accent-1 rounded-sm px-5 py-2.5 lg:text-xl lg:px-8 lg:py-3 dark:bg-eside-Accent-1 dark:hover:bg-eside-Accent-2 lg:py-2 lg:px-6">Vendre</button>
      </div>
    </div>
  </div>
</div>
